# Зависимости
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp
.pnp.js

# Тестирование
coverage/

# Продакшн
build/
dist/

# Разное
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Редакторы
.idea/
.vscode/
*.swp
*.swo
.cursorrules
cursorrules

*.json
